* {
  box-sizing: border-box;
}

:root {
  --txt-clr-prm: black;
  --bg-clr-prm: white;
  --bg-clr-sec: rgb(245, 245, 245);
}

img {
  max-width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: var(--txt-clr-prm);
  background-color: var(--bg-clr-sec);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--bg-clr-prm);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1em;
}

.tile {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
}

.tile:focus,
.tile:hover {
  box-shadow: rgb(209, 208, 208) 3px 3px 6px 0px inset,
    rgb(209, 208, 208) -3px -3px 6px 1px inset;
}

.tile:first-of-type {
  border-top-left-radius: calc(1em / 3);
}
.tile:nth-of-type(3) {
  border-top-right-radius: calc(1em / 3);
}
.tile:nth-of-type(7) {
  border-bottom-left-radius: calc(1em / 3);
}
.tile:last-of-type {
  border-bottom-right-radius: calc(1em / 3);
}

/* form control resets */
button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.25em;
  background-color: var(--bg-clr-sec);
  color: var(--txt-clr-prm);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: var(--bg-clr-sec);
}

.play,
.restart {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}

.play:hover,
.restart:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-clr-prm: white;
    --bg-clr-prm: #181a1b;
    --bg-clr-sec: #010409;
  }

  .tile:focus,
  .tile:hover {
    box-shadow: rgb(69, 69, 70) 3px 3px 6px 0px inset,
      rgb(70, 70, 70) -3px -3px 6px 1px inset;
  }
}
